<header>
  <!--Nav-->
  <nav aria-label="menu nav" class="bg-gray-900 pt-2 md:pt-1 pb-1 px-1 mt-0 h-auto fixed w-full z-20 top-0">

    <div class="flex flex-wrap items-center justify-between">
      <div class="md:w-1/3 justify-center md:justify-start text-white">
        <a href="/admin" aria-label="Admin">
          <svg class="w-8 h-8 mx-2 inline-block" viewBox="0 0 85 72" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5044 0.263382H21.612L10.3721 11.6685L14.5044 0.263382Z" fill="#5AB147"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.40515 30.6771C6.40515 30.6771 0.619943 19.9331 0.454651 19.9331H6.23986L6.40515 30.6771Z" fill="#C5243E"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.40515 20.0984H18.3062L6.40515 30.8424V20.0984Z" fill="#D6256B"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.9756 39.9334L18.3062 20.0984L6.40515 30.8424L17.9756 39.9334Z" fill="#E87A2C"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M32.1906 30.0159L17.8102 39.9334L18.3061 19.9331L32.1906 30.0159Z" fill="#FAC924"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M40.9511 16.9578L18.1408 20.0984L31.8601 30.1812L40.9511 16.9578Z" fill="#5AB147"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M35.8271 0.263382L26.5707 11.5032L40.9511 16.9578L35.8271 0.263382Z" fill="#C5243E"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M57.315 0.263382H35.8271L41.1164 16.7926L57.315 0.263382Z" fill="#4A80B5"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.3062 20.0984L41.1164 16.9578L26.5707 11.5032L18.3062 20.0984Z" fill="#D6256B"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M61.282 16.9578H40.9511L57.1497 0.428669L61.282 16.9578Z" fill="#23487C"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M51.1992 35.3052L32.1907 30.0159L40.9511 16.7926L51.1992 35.3052Z" fill="#419846"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M61.282 16.9578L51.1992 35.4705L41.1164 16.9578H61.282Z" fill="#024C3D"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M68.5548 30.0159L51.1992 35.3052L61.4473 16.7926L68.5548 30.0159Z" fill="#419846"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M65.249 40.9251L51.1992 35.4705L68.5548 30.1812L65.249 40.9251Z" fill="#5AB147"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M57.315 0.263382L73.0177 13.1561L61.4473 16.7926L57.315 0.263382Z" fill="#4A80B5"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M61.282 16.9578L72.8524 13.3214L68.3895 30.1812L61.282 16.9578Z" fill="#038C47"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M68.5549 30.0159L84.5881 32.9911L65.4143 40.7599L68.5549 30.0159Z" fill="#024C3D"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M84.4228 33.1564L84.5881 48.3633L65.249 40.9251L84.4228 33.1564Z" fill="#419846"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M65.249 40.9251L84.5881 48.3633L69.8772 50.8426L65.249 40.9251Z" fill="#23487C"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M84.7534 48.3633L77.15 64.8924L70.0424 50.8426L84.7534 48.3633Z" fill="#5AB147"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M70.0424 50.8427L77.15 64.8925L66.2407 58.7767L70.0424 50.8427Z" fill="#4A80B5"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M77.15 64.8925L66.406 71.8347L66.2407 58.7767L77.15 64.8925Z" fill="#23487C"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M66.406 58.7767L66.5713 71.8347L61.1167 63.2395L66.406 58.7767Z" fill="#4A80B5"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M66.5713 71.8347H52.1909L61.1167 63.2395L66.5713 71.8347Z" fill="#23487C"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M61.1167 63.4048L52.1909 72L53.8439 63.4048H61.1167Z" fill="#C5243E"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M53.6786 63.4048L52.0257 72L45.0834 63.4048H53.6786Z" fill="#D6256B"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M53.6786 63.4048H45.0834L50.2074 57.6196L53.6786 63.4048Z" fill="#C5243E"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M45.2487 63.4048V52.3303L50.3728 57.4543L45.2487 63.4048Z" fill="#E87A2C"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M73.0177 13.1561L84.5882 33.1564L68.5549 30.1812L73.0177 13.1561Z" fill="#5AB147"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M53.6786 52.6609L52.5215 46.8757L61.1167 50.6774L53.6786 52.6609Z" fill="#419846"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M45.2487 52.3303L53.8439 52.6609L52.6868 46.8757L45.2487 52.3303Z" fill="#5AB147"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M50.2074 57.6196L53.6786 52.6609L45.0834 52.3303L50.2074 57.6196Z" fill="#FAC924"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.2896 7.70151L26.5707 11.5032L26.2401 3.8998L20.2896 7.70151Z" fill="#419846"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.2896 7.70151L26.2401 3.8998L21.7773 0.263382L20.2896 7.70151Z" fill="#5AB147"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3721 11.6685L21.7773 0.263382L20.4549 7.70151L10.3721 11.6685Z" fill="#038C47"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.5708 11.5032L20.455 7.70151L17.4797 11.6685L26.5708 11.5032Z" fill="#024C3D"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3721 11.6685L20.2896 7.53622L17.3144 11.5032L10.3721 11.6685Z" fill="#419846"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.40515 20.0984L17.4797 11.8338L18.4715 20.0984H6.40515Z" fill="#E87A2C"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.3144 11.6685L18.3062 19.9331L26.5708 11.3379L17.3144 11.6685Z" fill="#C5243E"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.40515 20.0984L10.3722 11.8338L17.3144 11.6685L6.40515 20.0984Z" fill="#FAC924"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M33.1824 39.9334L29.7113 45.7186H39.6288L33.1824 39.9334Z" fill="#419846"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M25.7443 39.9334L29.7113 45.7186L33.1824 39.9334H25.7443Z" fill="#5AB147"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M32.1907 30.0159L33.3477 39.9334L51.3645 35.3052L32.1907 30.0159Z" fill="#024C3D"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M39.6287 45.8839L51.1992 35.4705L33.3477 40.0987L39.6287 45.8839Z" fill="#038C47"/>
            </svg>
            <span>platformOS</span>
        </a>
      </div>


      <div class="flex w-full pt-2 content-center justify-between md:w-1/3 md:justify-end">
        <ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
          <li class="flex-1 md:flex-none md:mr-3">
            <a class="inline-block py-2 px-4 text-white no-underline" href="#">Active</a>
          </li>
          <li class="flex-1 md:flex-none md:mr-3">
            <a class="inline-block text-gray-400 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
              href="#">link</a>
          </li>
          <li class="flex-1 md:flex-none md:mr-3">
            <div class="relative inline-block">
              <button onclick="toggleDD('myDropdown')" class="drop-button text-white py-2 px-2">Hi, {{context.current_user.name | default: 'Anonymous'}} <svg class="h-3 fill-current inline"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                </svg></button>
              <div id="myDropdown"
                class="dropdownlist absolute bg-gray-800 text-white right-0 mt-3 p-3 overflow-auto z-30 invisible">
                <input type="text" class="drop-search p-2 text-gray-600" placeholder="Search..." id="myInput"
                  onkeyup="filterDD('myDropdown','myInput')">
                <a href="#" class="p-2 hover:bg-gray-800 text-white text-sm no-underline hover:no-underline block"><i
                    class="fa fa-user fa-fw"></i> Profile</a>
                <a href="#" class="p-2 hover:bg-gray-800 text-white text-sm no-underline hover:no-underline block"><i
                    class="fa fa-cog fa-fw"></i> Settings</a>
                <div class="border border-gray-800"></div>
                <a href="#" class="p-2 hover:bg-gray-800 text-white text-sm no-underline hover:no-underline block"><i
                    class="fas fa-sign-out-alt fa-fw"></i> Log Out</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<script>
  /*Toggle dropdown list*/
  function toggleDD(myDropMenu) {
    document.getElementById(myDropMenu).classList.toggle("invisible");
  }
  /*Filter dropdown options*/
  function filterDD(myDropMenu, myDropMenuSearch) {
    var input, filter, ul, li, a, i;
    input = document.getElementById(myDropMenuSearch);
    filter = input.value.toUpperCase();
    div = document.getElementById(myDropMenu);
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
      if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
      } else {
        a[i].style.display = "none";
      }
    }
  }
  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function (event) {
    if (!event.target.matches('.drop-button') && !event.target.matches('.drop-search')) {
      var dropdowns = document.getElementsByClassName("dropdownlist");
      for (var i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (!openDropdown.classList.contains('invisible')) {
          openDropdown.classList.add('invisible');
        }
      }
    }
  }
</script>
