
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body class="bg-gray-100 font-sans leading-normal tracking-normal mt-12">

    {% render 'modules/admin/components/header' %}

    <main class="h-screen flex">
      <div class="flex-1 flex flex-col md:flex-row">

        {% render 'modules/admin/components/navigation' %}

        <section class="flex-1">
          <div id="main" class="main-content flex-1 mt-12 md:mt-2 pb-24 md:pb-5">
            {{ content_for_layout }}
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
